a(href="#") baidu
    span 100
ul
    li 1
    li 2
    li 3
a: img
img
p hello world

<span>#{num}</span>

- var arr = [1,2].join()
p 
    = arr

- for (var x = 0; x < 3; x++)
  li item
-
  var list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"]
each item in list
  li= item

p!= '<span>arr</span>'
|
|

a.button
|
|

div#foo(data-bar="foo")&attributes({'data-foo': 'bar'})
|
|

a(href='baidu.com') 百度
|
|
a(class='button' href='baidu.com') 百度
|
|
a(class='button', href='baidu.com') 百度
|
|
input(
    type="checkbox"
    name="agrement"
    checkd
)
|
|
div(class=['box'])
|
|
div(class="box")
|
|
.content
|
|
#content
|
|
div.box(style="width:100px")
|
|
div.box(style={width:'100px',height:'100px'})
|
|
div(class='div-class', (click)='play()')
div(class='div-class' '(click)'='play()')
|
|
p #{str}
|
|
div #{data.name}
|
|
p.
  这是一个很长很长而且还很无聊的段落，还没有结束，是的，非常非常地长。
  突然出现了一个 #[strong 充满力量感的单词]，这确实让人难以 #[em 忽视]。
|
|
div #{data.name.slice(0,1)}